.wp-block-table {
  .has-fixed-layout {
    table-layout: fixed;
    width: 100%;
    tr {
      &:nth-child(odd) {
        background: #F7F7F7;
      }
      td {
        padding: 16px;
        &:nth-child(2) {
          text-align: end;
        }
      }
    }
  }

}