@use "base/fontello";

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../font/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../font/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../font/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../font/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../font/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}